mat-card {
  max-width: 500px;
  margin: 50px auto;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
}

mat-form-field {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
}

mat-icon {
  margin-right: 0px !important;
  vertical-align: middle;
}

mat-form-field input{
  height:30px;
}

button {
  margin-top: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
